.titleContainer {
  text-align: center;
}

.title {
  font-size: 5rem;
  margin-bottom: 1rem;

  > .thin {
    font-weight: 700;
    color: var(--blue);
  }

  > .bold {
    font-weight: 600;
    color: var(--fg);
  }
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--fg);
}
