.externalContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 2rem;
}

.carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  height: 50vh;
}

.carouselDotsContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.arrowCircle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  height: 3rem;
  border-radius: 50%;

  transition: all 0.2s;

  > svg {
    transition: all 0.3s;
  }

  &[data-is-enabled="true"] {
    cursor: pointer;

    > svg {
      color: var(--fg);
    }

    &:hover {
      background-color: var(--bg-subtle);
    }
  }

  &[data-is-enabled="false"] {
    > svg {
      color: var(--bg-subtle);
    }
  }
}

.carouselCardContainer {
  position: relative;
  width: min(50rem, 75vw);
  height: 80%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
}

.carouselCardWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100%;
  transition: all 0.2s;
}

.carouselDot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  user-select: none;

  &[data-is-active="true"] {
    > .dotCircle {
      border: 1px solid var(--blue);
    }
    > .dotLabel {
      color: var(--fg);
    }
  }

  &[data-is-active="false"] {
    > .dotCircle {
      border: 1px solid var(--bg-subtle);
    }
  }

  &:hover {
    > .dotCircle {
      border: 1px solid var(--blue);
    }
    > .dotLabel {
      color: var(--fg);
    }
  }
}

.dotCircle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: 1px solid #ffffff00;
  background-color: var(--bg);

  transition: all 0.3s;

  > svg {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--fg);
    transition: all 0.3s;
  }
}

.dotLabel {
  color: var(--fg-subtle);
  transition: all 0.3s;
}

.dotSeparator {
  margin-top: 1.4rem;
  width: 2.8rem;
  height: 1px;
  border-radius: 10px;
  background-color: var(--fg-subtle);
}
