.cardContainer {
  height: 100%;
  width: 35vw;
  min-width: 35vw;
  padding: 2rem;
  background-color: var(--bg);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inputField {
  margin: 3rem;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputLabel {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--fg);
  min-width: fit-content;
}

.input {
  width: 100%;
  padding: 0.8rem;
  display: inline-block;
  border: 1px solid var(--bg-subtle);
  border-radius: 4px;
  font-size: 0.9rem;

  transition: all 0.2s;
}

.checkboxWrapper {
  margin-top: 3rem;
  width: 40%;
}

.checkboxContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.5rem;
  align-items: center;
}

.checkbox {
  display: block;
  width: min-content;
  cursor: pointer;
}

.dottedLine {
  border-top: 2.5px dotted var(--fg-subtle);
  width: 100%;
}

.textAreaContainer {
  height: 100%;
}

.textArea {
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  display: inline-block;
  border: 1px solid var(--bg-subtle);
  border-radius: 4px;
  font-size: 0.9rem;

  transition: all 0.2s;
}

.input:focus,
.textArea:focus {
  border: 1px solid var(--blue);
}

.colorSelector {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.subTitle {
  font-size: 0.9rem;
  color: var(--fg);
}

.colorInputContainer {
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.colorInput {
  border-radius: var(--border-radius);
  background-color: #c4c4c4;
}

.colorInput::-webkit-color-swatch {
  border-radius: var(--border-radius);
  border: none;
}

.wordsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}

.generateButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 60%;
  height: 5rem;
  margin: auto;

  background-color: var(--blue);
  border-radius: var(--border-radius);
  color: var(--bg);
  font-size: 1.6rem;
  transition: all 0.3s;
}

.icon {
  font-size: 1.6rem;
}

.spinner {
  width: 1.8rem !important;
  height: 1.8rem !important;
  color: var(--bg);
}
