.cardContainer {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  gap: 10rem;
}

.card {
  height: 100%;
  width: 90%;
  max-width: min(50rem, 90%);
  padding: 2rem;
  background-color: var(--bg);
  border-color: red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--fg);
  margin-bottom: 1rem;
}

.inputField {
  margin: 3rem;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--fg);
}

.input {
  width: 100%;
  padding: 0.8rem;
  display: inline-block;
  border: 1px solid var(--bg-subtle);
  border-radius: 4px;
  font-size: 0.9rem;

  transition: all 0.2s;
}

.linkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: var(--fg-subtle);
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--fg-subtle);
  }
}

.button {
  margin-top: 0.5rem;
  height: 3rem;
  background-color: var(--blue);
  border-radius: calc(var(--border-radius) - 3px);
  color: var(--bg);
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 0 0.6rem var(--blue);
  }
}

.input:focus,
.textArea:focus {
  border: 1px solid var(--blue);
}
