.CloseCircle_wrapper {
  position: relative;
  --size: 1.6rem;
  width: var(--size);
  height: var(--size);
}

.CloseCircle_innerCircle {
  width: var(--size);
  height: var(--size);

  > circle {
    stroke-width: 8px;
    stroke-opacity: 0;
  }
}

.CloseCirlce_outerCircle {
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  overflow: visible;

  > circle {
    stroke-width: 7px;
    stroke: var(--blue1);
    shape-rendering: geometricPrecision;
  }
}

.CloseCircle_closeIcon {
  color: var(--blue1);
  width: calc(var(--size) - 0.5rem) !important;
  height: calc(var(--size) - 0.5rem) !important;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
}
