html,
body {
  background-image: url("../../../public/circle-scatter-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg);
}

#__next {
  min-height: 100vh;
  width: 100%;
}

input {
  display: block;
  outline: none;
  border: none;

  &[type="date"] {
    font-family: inherit;
  }
}

input::placeholder,
textarea::placeholder {
  color: var(--fg-subtle);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--fg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  font-family: inherit;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

svg {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
