:root {
  --border-radius: 10px;

  --bg: #ffffff;
  --bg-subtle: #f3f3f3;
  --fg: #171717;
  --fg-subtle: #676767;

  --blue: #0873f0;
  --cyan: #08d1f0;
  --cyan-subtle: #e7f9fb;
  --dark-blue: #2b3467;
}
