:root {
  --border-radius: 10px;

  --bg: #ffffff;
  --bg-subtle: #eaeaea;
  --fg: #171717;
  --fg-subtle: #676767;

  --blue: #0873f0;
  --cyan: #08d1f0;
  --cyan-subtle: #e7f9fb;
  --dark-blue: #2b3467;

  --green1: #2c332c;
  --green2: #398654;
  --green3: #b5e49c;
  --green4: #f3f8f1;

  --red1: #332c2c;
  --red2: #bb3535;
  --red3: #f09191;
  --red4: #f8f1f1;
}
