:root {
  --border-radius: 10px;

  --bg: #ffffff;
  --bg-subtle: #f3f3f3;
  --fg: #000000;
  --fg-subtle: #464646;

  --blue: #0873F0;
  --cyan: #08d1f0;
  --cyan-subtle: #9edfe9;
  --dark-blue: #2b3467;
}
